@import url('https://fonts.cdnfonts.com/css/death-star');
@import url('https://fonts.cdnfonts.com/css/star-jedi');

h1 {
    font-family: 'Death Star', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 10px black;
    letter-spacing: 3px;
    text-align: center;
}


h2 {
    font-family: 'Star Jedi', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 10px black;
    letter-spacing: 3px;
    text-align: center;
}